<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qmusic.qmusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome"></activity>
        <activity android:name=".ui.category.show_category.show_category_activity" />
        <activity android:name=".main_post1_music.edame.Edame_post1" />
        <activity android:name=".ui.artist.show_info_artist.Show_info_artist" />
        <activity android:name=".settings.Setting" />
        <activity android:name=".playerMusic.Play_music" />
        <activity android:name=".User.LoginFormActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>
</manifest>